@import url('https://fonts.googleapis.com/css2?family=&display=swap');
@import url("https://db.onlinewebfonts.com/c/50cd2aad9c8f35800bb6beac3ad42f16?family=Azonix");
@import url("http://fonts.cdnfonts.com/css/kayak-sans");


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display:none;
}